<!doctype html>
<html lang="en" ng-app='ShoppingListApp'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span.ok {
        color: green;
      }
      button > span.remove {
        color: #bc2328;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyShoppingController as toBuyListCtrl">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in toBuyListCtrl.shoppingList">Buy {{item.quantity}} {{item.name}} 
         <button class="btn btn-default" ng-click="toBuyListCtrl.boughtItem($index)"><span class="glyphicon glyphicon-ok ok"></span> Bought</button>
       </li>
     </ul>
     <div class="emptyMessage" ng-hide="toBuyListCtrl.shoppingList.length">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtShoppingController as boughtListCtrl">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in boughtListCtrl.boughtList">Bought {{item.quantity}} {{item.name}}
        <button class="btn btn-default" ng-click="boughtListCtrl.uncheckItem($index)"><span class="glyphicon glyphicon-remove remove"></span> Uncheck</button>
       </li>
     </ul>
     <div class="emptyMessage" ng-hide="boughtListCtrl.boughtList.length">Nothing bought yet.</div>
    </div>
  </div>
</div>

<script src="angular.min.js"></script>
<script src="app.js"></script>

</body>
</html>
